# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
node_modules.rar
node_modules/.package-lock.json
node_modules/.bin/vite
node_modules/.cache/vite/client/deps/_metadata.json
node_modules/.cache/vite/client/deps/@heroicons_vue_24_outline.js
node_modules/.cache/vite/client/deps/@heroicons_vue_24_outline.js.map
node_modules/.cache/vite/client/deps/errx.js
node_modules/.cache/vite/client/deps/errx.js.map
node_modules/.cache/vite/client/deps/package.json
node_modules/@nuxt/schema/builder-env.d.ts
node_modules/@nuxt/schema/package.json
node_modules/@nuxt/schema/README.md
node_modules/@nuxt/schema/dist/builder-env.d.mts
node_modules/@nuxt/schema/dist/builder-env.mjs
node_modules/@nuxt/schema/dist/index.d.mts
node_modules/@nuxt/schema/dist/index.mjs
node_modules/vite/LICENSE.md
node_modules/vite/package.json
node_modules/vite/README.md
node_modules/vite/bin/vite.js
node_modules/vite/dist/client/client.mjs
node_modules/vite/dist/client/env.mjs
node_modules/vite/dist/node/cli.js
node_modules/vite/dist/node/index.d.ts
node_modules/vite/dist/node/index.js
node_modules/vite/dist/node/module-runner.d.ts
node_modules/vite/dist/node/module-runner.js
node_modules/vite/dist/node/chunks/config.js
node_modules/vite/types/customEvent.d.ts
node_modules/vite/types/importGlob.d.ts
node_modules/vite/types/importMeta.d.ts
node_modules/vite/types/metadata.d.ts
node_modules/vite/types/internal/cssPreprocessorOptions.d.ts
node_modules/vite-plugin-inspect/LICENSE
node_modules/vite-plugin-inspect/package.json
node_modules/vite-plugin-inspect/README.md
node_modules/vite-plugin-inspect/dist/index.d.mts
node_modules/vite-plugin-inspect/dist/index.mjs
node_modules/vite-plugin-inspect/dist/nuxt.d.mts
node_modules/vite-plugin-inspect/dist/nuxt.mjs
node_modules/vite-plugin-inspect/dist/client/favicon.svg
node_modules/vite-plugin-inspect/dist/client/index.html
docs/Screenshot 2025-07-23 231814.png
.output/public/_nuxt/B-hFKuxz.js
.output/public/_nuxt/B0jM6DKV.js
.output/public/_nuxt/B94uwRit.js
.output/public/_nuxt/BBrnFwqb.js
.output/public/_nuxt/BeSDpHxN.js
.output/public/_nuxt/BJdn36sv.js
.output/public/_nuxt/BsT86qv2.js
.output/public/_nuxt/BtXzdUNb.js
.output/public/_nuxt/BUN809Vt.js
.output/public/_nuxt/BYof2kT-.js
.output/public/_nuxt/C_f9M--r.js
.output/public/_nuxt/C9JFC5hC.js
.output/public/_nuxt/C661VRVC.js
.output/public/_nuxt/Cd5CNHXY.js
.output/public/_nuxt/CEyO1Y02.js
.output/public/_nuxt/CgSPouwC.js
.output/public/_nuxt/CNSzf2CP.js
.output/public/_nuxt/CO8GSgX4.js
.output/public/_nuxt/CP2M6qjx.js
.output/public/_nuxt/CpExrxfR.js
.output/public/_nuxt/DAoFN5NM.js
.output/public/_nuxt/DdCV7beE.js
.output/public/_nuxt/DdVOlUWA.js
.output/public/_nuxt/Djk650-T.js
.output/public/_nuxt/DN4rLeDs.js
.output/public/_nuxt/DvWuZWfc.js
.output/public/_nuxt/DXkGHkKS.js
.output/public/_nuxt/DykmDkyq.js
.output/public/_nuxt/DZgxDJ_G.js
.output/public/_nuxt/DztcLqeQ.js
.output/public/_nuxt/error-404.CYUhy3y9.css
.output/public/_nuxt/error-500.CVLkTsZM.css
.output/public/_nuxt/g5_JE8Nh.js
.output/public/_nuxt/mOc7ibqP.js
.output/public/_nuxt/OmaE7RdB.js
.output/public/_nuxt/T67z15E1.js
.output/public/_nuxt/builds/latest.json
.output/public/_nuxt/builds/meta/a8291d62-2d4a-4ce4-b7e7-640bce79d8a7.json
.nuxt/components.d.ts
.nuxt/imports.d.ts
.nuxt/nitro.json
.nuxt/nuxt.d.ts
.nuxt/nuxt.json
.nuxt/tsconfig.json
.nuxt/tsconfig.server.json
.nuxt/dev/index.mjs
.nuxt/dev/index.mjs.map
.nuxt/dist/server/client.manifest.mjs
.nuxt/dist/server/runner.mjs
.nuxt/dist/server/server.mjs
.nuxt/manifest/latest.json
.nuxt/manifest/meta/30e41def-fa99-4700-891c-59a54cb35d76.json
.nuxt/manifest/meta/dev.json
.nuxt/tailwind/postcss.mjs
.nuxt/types/build.d.ts
.nuxt/types/components.d.ts
.nuxt/types/imports.d.ts
.nuxt/types/layouts.d.ts
.nuxt/types/nitro-imports.d.ts
.nuxt/types/nitro-layouts.d.ts
.nuxt/types/nitro-middleware.d.ts
.nuxt/types/nitro-nuxt.d.ts
.nuxt/types/plugins.d.ts
.nuxt/types/schema.d.ts
